<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">

    <div class="row">
  
      <div class="col-xs-12">
  
        <h2>Mes Taches</h2>
        <h4>last update : {{ update_at | async | date: 'short' }}</h4>
        <ul class="list-group">
         <!--   directive ng-for pour iterer une collection -->
          <app-tache *ngFor="let tache of taches"
                  [_tacheName]="tache.name" 
                  [_tacheStatus]="tache.status">
          </app-tache>
        </ul>
        
        <button type="button" class="btn btn-success" [disabled]="!isAuth" (click)="onActivateAlle()">All activate</button>
        <!-- //TODO 2-1: liason par propriete. isAuth [ppte] and (event liason )
        TODO 3 : liason inverse du template vers le typeScript -- liason par event
        -->
  
      </div>
  
    </div>
  
  </div>
