<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">

    <div class="row">
  
      <div class="col-xs-12">
  
        <h2>Mes Taches</h2>
  
        <ul class="list-group">
  
          <app-tache></app-tache>
  
          <app-tache></app-tache>
  
          <app-tache></app-tache>
  
        </ul>
        
        <button type="button" class="btn btn-success" [disabled]="!isAuth">All activate</button>
        <!-- //TODO 2-1: liason par propriete. isAuth-->
  
      </div>
  
    </div>
  
  </div>
