<div class="col-xs-12">
  
  <h2>Mes Taches</h2>
  <h4>last update : {{ update_at | async | date: 'short' }}</h4>
  <ul class="list-group">
   <!--   directive ng-for pour iterer une collection  
    index indique a chaque tacheComp sonindice de correspondance dans le array du service-->
    <app-tache *ngFor="let tache of taches; let i = index"
            [_tacheName]="tache.name" 
            [_tacheStatus]="tache.status"
            [index]="i"
            >
    </app-tache>
  </ul>
  
  <button type="button" class="btn btn-success" [disabled]="!isAuth" (click)="onActivateAll()">All activate</button>
  <button type="button" class="btn btn-danger" [disabled]="!isAuth" (click)="onDisactivateAll()">All desactivate</button>
  <!-- //TODO 2-1: liason par propriete. isAuth [ppte] and (event liason )
  TODO 3 : liason inverse du template vers le typeScript -- liason par event
  -->

</div>